<!-- brief template -->
<div class="row">
  <!-- unless specified, rows are automatically 12 cols -->
  <div class="eight columns brief-col">

    <input data-tag="h1" class="brief-form-input" type="text" placeholder="Brief Name">


    <!--
    <input data-tag="h3" class="brief-form-input" type="text" placeholder="Section Name">
    <input data-tag="h4" class="brief-form-input" type="text" placeholder="Project Subsection">
    <input data-tag="h5" class="brief-form-input" type="text" placeholder="Project requirement">
    <ul>
      <li>This is a requirement</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
    </ul>

    <div class="section-separator"></div>
  -->
    <a class="add-section" href="#" id="add-section"><i class="fa fa-plus add-btn"></i> Add Section</a>
    <!--<a class="add-section" href="#" id="add-subsec"><i class="fa fa-plus add-btn"></i> Add Subsection</a>
    <a class="add-section" href="#" id="add-req"><i class="fa fa-plus add-btn"></i> Add Requirement</a>-->

  </div>

</div>
