<!-- brief template -->
<div class="row">
  <!-- unless specified, rows are automatically 12 cols -->
  <div class="eight columns brief-col">

    <% if (briefData) { %>
      <h1 data-name="BriefName" data-tag="h1" class="converted-input"><%= briefData.BriefName %></h1>
      <% if (briefData.sections) { %>
        <h1>there are sectionsssssssss</h1>
      <% } %>
    <% } else { %>
      <input data-tag="h1" data-name="BriefName" class="brief-form-input" type="text" placeholder="Brief Name">
    <% } %>

    <div id="section-inject"></div>

    <a class="add-section" href="#" id="add-section"><i class="fa fa-plus add-btn"></i> Add Section</a>
    <!--<a class="add-section" href="#" id="add-subsec"><i class="fa fa-plus add-btn"></i> Add Subsection</a>
    <a class="add-section" href="#" id="add-req"><i class="fa fa-plus add-btn"></i> Add Requirement</a>-->

  </div>

</div>
