<!-- brief template -->
<div class="row">
  <!-- unless specified, rows are automatically 12 cols -->
  <h1 class="brief-name">Project Name</h1>

  <input class="brief-form-input" type="text" placeholder="Section Name">
  <input class="brief-form-input" type="text" placeholder="Project Subsection">
  <input class="brief-form-input" type="text" placeholder="Project requirement">
  <ul>
    <li>This is a requirement</li>
  </ul>

  <div class="section-separator"></div>

  <a class="add-section" href="#" id="add-input"><i class="fa fa-plus add-btn"></i> Add Section</a>
  <a class="add-section" href="#" id="add-input"><i class="fa fa-plus add-btn"></i> Add Subsection</a>
  <a class="add-section" href="#" id="add-input"><i class="fa fa-plus add-btn"></i> Add Requirement</a>
</div>
